@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700|Roboto+Slab:100,200,300,400,500,600,700|Pacifico:100,200,300,400,500,600,700 ');

a {
    font-family: "Quicksand",
        sans-serif;   
    color: #7b6e5e;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px;
}

/* Image Gallery Section */

.fit-image{
    height: 100%;
    width: 100%;
}

 
/* Image Grid */

#my-grid{
    margin-top: 10px;
}

.grid-padding{
    padding: 0 8px;
}

.grid-padding img{
    margin-bottom: 15px;
    transition: 0.8s ease;
}

.grid-padding img:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5);
    transition: 0.8s ease;
}

.col-sm-3{
    padding-right: 30px;
}